* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 
body{
    font-size: 14px;
}
header {
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}
.navigation a{
    color: #001d6d;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #601cfc; 
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    background: url(images/min.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: white;
    font-size: 1.4rem;
    font-weight:500 ;
}


.main h1 span{
    display: inline-block;
    margin-top: 10px;
    background-color: #95a6ea;
    color: #000000;
    font-size: 3rem;
    font-weight:600 ;
}
 
.main h1 span:first-of-type{
   
    font-size: 1.8rem; 
}
 
.main h3{
    color: #fff;
    font-size: 2rem;
    font-weight:700;
    letter-spacing: 1px;
    margin-top:10px ;
    margin-bottom:30px;
}
.main-btn{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}

.main-btn:hover{
    background-color:#0a49f6;
    transform: scale(1.1);

}
.social-icons a{
    color: #fff;
    font-size: 1.7rem;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content:center;
    color: #3a6cf4;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom:30px;    
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
}
.cards{
    background-color: #f0f0f0;
}
.card {
    background-color: #fff;
    width: 21.25rem;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}
.card:hover{
    transform:scale(1.1);
    box-shadow: 0 5px 25px rgba(1 1 1 /10%);

}
.card .icon{
    color: #3a6cf4;
    font-size: 8rem;
    text-align: center; 
}
.info{
    text-align: center;
}
.info h3{
    color: #3a6cf4;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px;
}


.projects{
    background-color: #111b39;
}
.projects .content{
    margin-top: 30px;

}
.project-card{
    /* align-items: center; */
    background-color:#fff ; 
    border: 1px solid #fff;
    min-height: 14rem;
    width: 23rem;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;   
}
.project-card:hover{
    transform: scale(1.1);
}
.project-image img{
    width: 100%;
}

.project-card:hover .project-image{
    opacity: 0.9;
}
.project-info{
    padding: 1em;

}

.project-category{
    font-size: 0.8em;
    color: black;

}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top:10px ;
}
.more-details{
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover{
    color: #601cfc;
}

.contact .info .icon{
    font-size: 4.5rem;

}
.contact .info h3{
    color: black;
    font-weight: 500;
}
.contact .info h2{
    color: black;
    font-weight: 500;
}
.contact .info p{
    color: black;
    font-size: 1.4rem; 
}
.footer{
    background-color: #000016;
    color: #fff;
    padding:2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3rem;
    font-weight: 600;
}
.footer-title span{ 
    color: #3a6cf4;
}
.footer .social-icons a{
    font-size: 1.3rem;
    padding: 0 15px 0 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  @media (max-width:1075px){
    header{
        padding: 12px 20px;
    }
    .navigation{
        padding-left:10px ;
    }
    .title{
        font-size: 0.6rem;
    }
    section{
        padding: 80px 20px ;
    }
    .main-content h2{
        font-size: 0.7rem;
    }
    .main-content h3{
        font-size: 0.5rem;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
  }


  @media (max-width:720px){
    body{
        font-size: 13px;
    }
    .main-content h2{
        font-size: 0.9rem;
    }
    .main-content h3{
        font-size: 1.5rem;
    }
  }

  @media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8rem;
    }
    .main-content h3{
        font-size: 0.7rem;
    }
  }
  @media (max-width:549px){
    body{
        font-size: 10px;
    }
    .main-content h2{
        font-size: 0.6rem;
    }
    .main-content h3{
        font-size: 1.2rem;
    }
  }
  @media (max-width:464px){
    body{
        font-size:12px;
    }
    .navigation{
        font-size: 1.12rem;
    }
    .main h1 span:first-of-type {
        font-size: 1.6rem;
    }
    .main h1 span{
        font-size: 2em;

    }
    .main-content h2{
        font-size: 0.9rem;
    }
    .main-content h3{
        font-size: 0.9rem;
    }
  }
  @media (max-width:380px){
    body{
        font-size: 8px;
    }
    .main-content h2{
        font-size: 0.6rem;
    }
    .main-content h3{
        font-size: 1.2rem;
    }
  }
  @media (max-height:745px){
    body{
        font-size: 10.5px;
    } 
}
  @media (max-width:300px){
    body{
        font-size: 10px;
    } 
  }
